.App {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /* Modificar para vista en moviles */
}

body {
   background-color: #7CC0F0; 
}